<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BASE</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="PageGalery">
      <div class="TitleGallery">Galería</div>
      <div class="SubtitleGallery"> Momentos unicos, momentos Eternology</div>
      <div class="containerGallery" id="miContainerGallery">              
  </div>
    <script src="values.js"></script>
    <script src="index.js"></script>
  </body>
</html>
