<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BASE</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="Blog">
      <div class="categoriesContainerGeneral">
        <div class="TitleCategories">
          <span>Buscar recetas por categoría ___</span>
        </div>
        <div class="categoriesRecetasSliderContainer">
          <div class="tractionItems" id="miSliderRecetasCategoria"></div>
        </div>
      </div>
    </div>
    <script src="values.js"></script>
    <script src="index.js"></script>
  </body>
</html>
